services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
    privileged: true
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyACM0:/dev/ttyACM0

  music-assistant:
    image: ghcr.io/music-assistant/server:latest
    container_name: music-assistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./music_assistant:/data

  tailscale:
    image: tailscale/tailscale:stable
    container_name: tailscale
    hostname: servergarage
    privileged: true
    volumes:
      - ./tailscale/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--advertise-routes=192.168.1.0/24 --advertise-exit-node 
      - TS_USERSPACE=false
    network_mode: "host"
    restart: unless-stopped
    #docker compose up -d tailscale
    #docker exec -it tailscale tailscale up --advertise-routes=192.168.1.0/24 --advertise-exit-node --accept-dns=false
    #Il te donne un lien https://login.tailscale.com/a/XXXX
